.vertical-timeline span {
    color: white;
    font-family: 'Courier Prime', monospace;
}

.vertical-timeline p {
    color: rgb(39, 40, 34);
}

.vertical-timeline-element p {
    color: rgb(39, 40, 34);
    margin: 0 0 4px 0;
}

.vertical-timeline-element h3 {
    color: rgb(39, 40, 34);
    margin: 0 0 4px 0;
}

.vertical-timeline-element h4 {
    color: rgb(39, 40, 34);
    margin: 0 0 4px 0;
}

.vertical-timeline-element span {
    color: rgb(39, 40, 34);
}

.vertical-timeline-element ul {
    margin: 4px 0;
    padding-left: 20px;
}

.vertical-timeline-element li {
    margin-bottom: 4px;
}


.vertical-timeline-element .vertical-timeline-element-date {
    color: white;
}

.svg-inline--fa {
    color: white;
}

@media screen and (max-width: 1170px) {
    .vertical-timeline-element .vertical-timeline-element-date {
        color: rgb(39, 40, 34);
    }
}
