.presentation-section {
    display: flex;
    gap: 30px;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0px 15%;
    min-height: 700px;
    background-color: rgba(0, 0, 0, 0.2);
    background-image: url("../images/bg-dark.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.presentation-section .content {
    text-align: left;
    z-index: 2;

    .social_icons {
        display: flex;
        flex-direction: row;
        gap: 10px;
        color: white;

        svg {
            font-size: 1.8em;
        }
    }

    .mobile_social_icons {
        display: none;
    }

    p {
        font-size: 1.5em;
        margin-block-start: 0px;
        margin-block-end: 0px;
    }

    h1 {
        font-size: 5em;
        margin-block-start: 0px;
        margin-block-end: 0px;
    }
}

.presentation-section .image-wrapper {
    z-index: 2;
    img {
        width: 150px;
        border-radius: 50%;
    }
}

@media screen and (max-width: 768px) {
    .presentation-section {
        flex-direction: column;
        padding: 40px 5%;
        min-height: auto;
        gap: 20px;
        text-align: center;
    }

    .presentation-section .content {
        text-align: center;

        .social_icons {
            display: none;
        }

        .mobile_social_icons {
            padding-top: 10px;
            display: flex !important;
            flex-direction: row;
            gap: 10px;
            justify-content: center;

            svg {
                font-size: 1.8em;
            }
        }

        h1 {
            font-size: 3em;
        }

        p {
            font-size: 1.2em;
        }
    }

    .presentation-section .image-wrapper img {
        width: 120px;
    }
}
